<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS Beginner Two Day Workshop">
    <meta name="author" content="Troy Miles aka the rockncoder">
    <title>AngularJS - Beginner - Two Day</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/navbar-fixed-top.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>

<body>

<div class="container">
    <div class="row">


        <aside class="col-lg-3" ng-controller="AppController">
            <h2>{{message}}</h2>
            <input ng-model="starts"/>

            <ul class="list-group">
                <li ng-repeat="contact in contacts| LastNameStarts:starts" class="list-group-item">
                        <span>
                            <span ng-bind="contact.firstName+' '+contact.lastName"></span>
                        </span>
                </li>
            </ul>
        </aside>

        <article class="col-lg-3" ng-controller="ContactsController">
            <ul class="list-group">
                <li ng-repeat="contact in contacts" class="list-group-item">
                    <a ng-href="" ng-click="select($index)">
                        <span ng-bind="contact.firstName"></span>&NonBreakingSpace;<span
                            ng-bind="contact.lastName"></span>
                    </a>
                    <button type="button" class="btn btn-danger " ng-click="delete(contact)"><span
                            class="glyphicon glyphicon-minus"></span></button>
                </li>
            </ul>

        </article>

    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../libs/jquery/jquery-1.11.2.js"></script>
<script src="../libs/angular/angular.js"></script>
<script src="../libs/bootstrap/bootstrap.js"></script>

<script src="../libs/firebase.js"></script>
<script src="../libs/angularfire.js"></script>


<script src="app.js"></script>
<script src="service.js"></script>


</body>
</html>
